<h4>All Media: </h4>

<div class="container">
  <button type="button" class="btn btn-success">Login</button>
  <a routerLink="/upload">Upload</a>  
    <div class="row">
        <div *ngFor="let file of webService.allMedia">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://mediashareliadoh.blob.core.windows.net{{ file.filePath }}" alt="image">
                <div class="card-body">
                  <h5 class="card-title" [routerLink]="['/media', file.id]">{{ file.fileName }}</h5>
                  <p class="card-text">Posted by: {{file.userName}}</p>
                  <button class="btn btn-danger" (click)="webService.deleteMedia(file.id)">Delete</button>
                  <br>
                </div>
              </div>
        </div>
    </div>
</div>